

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        <h2>The H1 tag is an HTML heading that's most commonly used to mark up a web page title. Most websites use CSS to make the H2, H3, etc</h2>
    </div>
</body>
</html>
